.grid-container{
	display:grid;
	grid-gap:20px;
	grid-template-columns:auto auto auto;
}

.grid-item{
	border:1px solid #b7d1ff;
}

.two-columns{
	grid-column-start:1;
	grid-column-end:3;
}

.input-grid{
	display:grid;
	grid-gap:10px;
	grid-template-columns:auto auto;
}