@{
    ViewData["Title"] = "Home Page";
}


<div class="grid-container">
	@for (int i = 1; i <= 9; i++)
	{
		<div class="grid-item">Item @i</div>
	}
	<div class="grid-item two-columns">
		@Html.ActionLink("Hello", "Hello")
	</div>
	<div></div>
	<div class="input-grid">
		<div>Name:</div>
		<div><input type="text" /></div>
		<div></div>
		<div>*message here</div>
	</div>
</div>